.page-title {
    font-size: 23px !important;
}
.setting-title {
    font-size: 14px;
}
.text1-set {
    font-size: 12px;
}
.text2-set {
    font-size: 10px;
    color: #404040;
}
.profile-acc {
    width: 2.5rem;
}
.profile-set-img {
    width: 4rem;
}
button.btn-setting {
    margin-right: 2px;
    margin-left: 2px;
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 11px;
    background-color: #078D41;
}

@media (min-width: 425px) {
    .page-title {
        font-size: 30px !important;
    }
    .setting-title {
        font-size: 20px;
    }
    .text1-set {
        font-size: 15px;
    }
    .text2-set {
        font-size: 12px;
        color: #404040;
    }
    .profile-acc {
        width: auto;
    }
    .profile-set-img {
        width: 4.5rem;
    }
    button.btn-setting {
        margin-right: 2px;
        margin-left: 2px;
        margin-top: 2px;
        margin-bottom: 2px;
        font-size: 13px;
    }
}

@media (min-width: 768px) {
    .page-title {
        font-size: 36px !important;
    }
    .setting-title {
        font-size: 25px;
        padding-right: 2rem;
    }
    .text1-set {
        font-size: 20px;
    }
    .text2-set {
        font-size: 14px;
        color: #404040;
    }
    .profile-set-img {
        width: 8rem;
    }
    button.btn-setting {
        margin-right: 2px;
        margin-left: 2px;
        margin-top: 2px;
        margin-bottom: 2px;
        font-size: 16px;
    }
}

@media (min-width: 1024px) {
    .page-title {
        font-size: 36px !important;
    }
    .setting-title {
        font-size: 28px;
    }
    .text1-set {
        font-size: 20px;
    }
    .text2-set {
        font-size: 14px;
        color: #404040;
    }
}

