@media (max-width: 1440px) {
    .cover{
        padding: 60px;
        display: flex;        
        align-items: center;
        justify-content: space-between;
        margin-top: 35px;
        width: 100%;
        height: 580px;
        margin: 0px;
    }
    .bungkus{
        width:50%;
    }
    .judul{
        color : #078D41;
        font-weight: bold;
        font-size: 50px;
        width: fit-content;
        margin-bottom: 30px;
    }
    .deskripsi{
        font-size: 16px;
        text-align: left;
        width: 100%;
    }
    .cover button{
        background-color: #078D41;
        color: white;
        border: none;
        width: 120px;
        height: 40px;
        border-radius: 10px;
        margin-top: 20px;
        padding-bottom: 5px;
    }
    .cover button:hover{
        background-color: transparent;
        color: #078D41;
        border: 2px solid #078D41;
        padding-bottom: 20px;
    }
    .img-nu {
        width: 400px;
    }
    .profile-acc img {
        height: 60px !important;
    }

}








@media (max-width: 768px) {
    .cover{
        padding: 40px;
        display: flex;        
        align-items: center;
        justify-content: space-between;
        margin-top: 150px;
        width: 100%;
        margin: 0px;
        height: 495px;
    }
    .bungkus{
        width:60%;
    }
    .judul{
        color : #078D41;
        font-weight: bold;
        font-size: 30px;
        width: fit-content;
        margin-bottom: 30px;
    }
    .deskripsi{
        font-size: 12px;
        text-align: left;
        width: 100%;
    }
    .cover button{
        background-color: #078D41;
        color: white;
        border: #078D41;
        width: 90px;
        height: 30px;
        border-radius: 10px;
        margin-top: 20px;
        padding-bottom: 3px;
        font-size: 10px;
    }
    .cover button:hover{
        background-color: transparent;
        color: #078D41;
        border: 2px solid #078D41;
        padding-bottom: 5px;
    }
    .img-nu{
        width: 150px;
    }
}







@media (max-width: 325px) {
    .cover {
        padding: 40px;
        display: block;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: auto;
    }
    .bungkus {
        width: 100%;
    }
    .judul {
        color: #078D41;
        font-weight: bold;
        font-size: 30px;
        width: fit-content;
        margin-bottom: 30px;
    }
    .deskripsi {
        font-size: 12px;
        text-align: left;
        width: 100%;
        text-align: justify;
    }
    .cover button {
        background-color: #078D41;
        color: white;
        border: #078D41;
        width: 90px;
        height: 30px;
        border-radius: 10px;
        margin-top: 20px;
        padding-bottom: 3px;
        font-size: 10px;
    }
    .cover button:hover {
        background-color: transparent;
        color: #078D41;
        border: 2px solid #078D41;
        padding-bottom: 5px;
    }
    .img-nu {
        width: 100%;
        margin-top: 50px;
    }
}








