@media (max-width: 1440px) {
  .content {
    .daftarBuku {
      color: #141e46;
      a {
        color: #141e46;
        text-decoration: none;
      }
      .navbar {
        .navbar-kiri {
          .search-container {
            /* width: fit-content; */
            border: 1px solid #41b06e;
            border-radius: 10px;
            img {
              width: 20px;
            }

            input {
              width: 170px;
              max-width: 170px;
              /* width: fit-content; */
              &::placeholder {
                color: #141e46;
                /* width: fit-content; */
              }
              &:hover {
                outline: none;
                focus: none;
              }
            }
          }
          .filter-container {
            width: fit-content;
            border: 1px solid #41b06e;
            border-radius: 10px;
            img {
              width: 20px;
            }

            input {
              /* width: fit-content; */
              width: 40px;
              max-width: 40px;
              &::placeholder {
                color: #141e46;
                width: fit-content;
              }
            }
          }
        }

        .navbar-kanan {
          .add-container {
            /* width: fit-content; */
            border: 1px solid #41b06e;
            border-radius: 10px;
            background: #41b06e;
            color: white;
            img {
              width: 20px;
            }

            
          }
        }
      }

      .content-container {
        .card-container {
            background: #8DECB4;
            border-radius: 15px;
            width: 205px;
            max-width: 205px;
            height: 400px;

            .desc-container {
                h3 {
                    font-size: 16px;
                }
                .desc {
                    svg {
                        width: 13px;
                    }
                    font-size: 12px;
                }
            }

            .card-bottom {
                margin-top: auto;
                display: flex;
  justify-content: flex-end;
                button {
                    border: 2px solid #141E46;
                    border-radius: 7px;
                    font-size: 12px;
                }
            }
        }
      }
    }
  }
}

@media (max-width: 768px) {
}

@media (max-width: 325px) {
}
