@media (min-width: 326px) {
  .content {
    &.daftarBuku {
      color: #141e46;
      a {
        color: #141e46;
        text-decoration: none;
      }
      .navbar {
        .navbar-kiri {

          .dropdown, 
          .filter-drop {
            font-size: 12px;
          }
          .search-container {
            border: 1px solid #41b06e;
            border-radius: 10px;
            width: 90%;

            
            img {
              width: 15px;
            }

            input {
              /* width: 170px;
              max-width: 170px; */
              &::placeholder {
                color: #141e46;
                font-size: 13px;
              }
              &:hover {
                outline: none;
                border: none;
              
              }
              &:focus {
                border: 0;
                outline: 0;
              }
            }
          }

          .dropdown {
            position:relative;
            border: 1px solid #41b06e;
            padding: 0;
            border-radius: 10px;
            width: fit-content;
            /* width: 120px;
              max-width: 120px; */
              color: #141e46;
            img {
              width: 20px;
            }

            a {
                width: fit-content;
                font-size: 13px;
                border: none;
            }
          }
        }

        .navbar-kanan {
          .add-container {
            /* width: fit-content; */
            border: 1px solid #41b06e;
            border-radius: 10px;
            background: #41b06e;
            color: white;
            font-size: 13px;
            img {
              width: 20px;
            }
          }
        }
      }

      .content-container {
        .card-container {
          background: #8decb4;
          border-radius: 15px;
          /* width: 205px; */
          /* max-width: 205px; */
          height: 400px;

          img {
            height: 60%;
          }

          .desc-container {
            h3 {
              font-size: 16px;
              overflow: hidden !important;
              text-overflow: ellipsis !important;
              display: -webkit-box !important;
              -webkit-line-clamp: 1 !important;
              -webkit-box-orient: vertical !important;
            }
            .desc {
              svg {
                width: 13px;
              }
              font-size: 12px;
            }
          }

          .card-bottom {
            margin-top: auto;
            display: flex;
            justify-content: flex-end;
            button {
              border: 2px solid #141e46;
              border-radius: 7px;
              font-size: 12px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .content {
    &.daftarBuku {
      color: #141e46;
      a {
        color: #141e46;
        text-decoration: none;
      }
      .navbar {
        .navbar-kiri {

          .dropdown, 
          .filter-drop {
            font-size: 12px;
          }
          .search-container {
            border: 1px solid #41b06e;
            border-radius: 10px;
            img {
              width: 15px;
            }

            input {
              width: 170px;
              max-width: 170px;
              &::placeholder {
                color: #141e46;
                font-size: 13px;
              }
              &:hover {
                outline: none;
                focus: none;
              }
            }
          }

          .dropdown {
            border: 1px solid #41b06e;
            padding: 0;
            border-radius: 10px;
            width: fit-content;
            /* width: 120px;
              max-width: 120px; */
              color: #141e46;
            img {
              width: 20px;
            }

            a {
                width: fit-content;
                font-size: 13px;
                border: none;
            }
          }
        }

        .navbar-kanan {
          .add-container {
            /* width: fit-content; */
            border: 1px solid #41b06e;
            border-radius: 10px;
            background: #41b06e;
            color: white;
            font-size: 13px;
            img {
              width: 20px;
            }
          }
        }
      }

      .content-container {
        .card-container {
          background: #8decb4;
          border-radius: 15px;
          /* width: 205px; */
          /* max-width: 205px; */
          height: 400px;

          img {
            height: 60%;
          }

          .desc-container {
            h3 {
              font-size: 16px;
              overflow: hidden !important;
              text-overflow: ellipsis !important;
              display: -webkit-box !important;
              -webkit-line-clamp: 1 !important;
              -webkit-box-orient: vertical !important;
            }
            .desc {
              svg {
                width: 13px;
              }
              font-size: 12px;
            }
          }

          .card-bottom {
            margin-top: auto;
            display: flex;
            justify-content: flex-end;
            button {
              border: 2px solid #141e46;
              border-radius: 7px;
              font-size: 12px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 325px) {
  .content {
    &.daftarBuku {
      color: #141e46;
      a {
        color: #141e46;
        text-decoration: none;
      }
      .navbar {
        .navbar-kiri {

          .dropdown, 
          .filter-drop {
            font-size: 12px;
          }
          .search-container {
            border: 1px solid #41b06e;
            border-radius: 10px;
            img {
              width: 15px;
            }

            input {
              width: 170px;
              max-width: 170px;
              &::placeholder {
                color: #141e46;
                font-size: 13px;
              }
              &:hover {
                outline: none;
                focus: none;
              }
            }
          }

          .dropdown {
            position:absolute;
            border: 1px solid #41b06e;
            padding: 0;
            border-radius: 10px;
            width: 50%;
            top:100%;
            z-index: 1000;
            /* width: 120px;
              max-width: 120px; */
              color: #141e46;
            img {
              width: 20px;
            }

            a {
                width: fit-content;
                font-size: 12px;
                border: none;
            }
          }
        }

        .navbar-kanan {
          .add-container {
            /* width: fit-content; */
            border: 1px solid #41b06e;
            border-radius: 10px;
            background: #41b06e;
            color: white;
            font-size: 13px;
            img {
              width: 20px;
            }
          }
        }
      }

      .content-container {
        .card-container {
         margin-top:40px;
          background: #8decb4;
          border-radius: 15px;
          /* width: 205px; */
          /* max-width: 205px; */
          height: 400px;

          img {
            height: 60%;
          }

          .desc-container {
            h3 {
              font-size: 16px;
              overflow: hidden !important;
              text-overflow: ellipsis !important;
              display: -webkit-box !important;
              -webkit-line-clamp: 1 !important;
              -webkit-box-orient: vertical !important;
            }
            .desc {
              svg {
                width: 13px;
              }
              font-size: 12px;
            }
          }

          .card-bottom {
            margin-top: auto;
            display: flex;
            justify-content: flex-end;
            button {
              border: 2px solid #141e46;
              border-radius: 7px;
              font-size: 12px;
            }
          }
        }
      }
    }
  }
}
