@media (max-width: 1440px) {
  .detail-container {
    .cover-section {
      .gambar-container {
        background: #8decb4;
        border-radius: 10px;
        height: 60%;
        max-height: 60%;
      }

      button {
        background: #078d41;
        color: white;
        border: 0;
        border-radius: 8px;
      }
    }

    .deskripsi {
      .form {
        .event {
          border: 1px solid #41b06e;
          border-radius: 8px;
          font-size: 13px;

          .form-control1 {
            border: 0;

            &:focus {
              outline: none;
              border: 0;
            }
          }
        }
      }
    }
  }
  .modal-body {
    img {
      width: 100px;
    }

    button {
      background: #33c481;
      border: 0;
      /* border-radius: ; */
      border-radius: inherit;
      box-shadow: 0 0.75em 0 0 blue;
      transform: translate3d(0, 0.75em, -1em);
    }
  }
}

@media (max-width: 768px) {
}

@media (max-width: 325px) {
}
